In [2]:
import pandas as pd
import numpy as np

url = "https://gist.githubusercontent.com/meperezcuello/82a9f1c1c473d6585e750ad2e3c05a41/raw/d42d226d0dd64e7f5395a0eec1b9190a10edbc03/Medical_Cost.csv"

In [3]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
from scripts import project_functions
df = project_functions.load_and_process(url)
df

      Age     Sex   BMI  Children Smoker     Region  Charges       Body Shape
0      54  female  47.4         0    yes  Southeast    63770  Extremely Obese
1      45    male  30.4         0    yes  Southeast    62592            Obese
2      52    male  34.5         3    yes  Northwest    60021            Obese
3      31  female  38.1         1    yes  Northeast    58571            Obese
4      33  female  35.5         0    yes  Northwest    55135            Obese
...   ...     ...   ...       ...    ...        ...      ...              ...
1333   18    male  34.1         0     no  Southeast     1137            Obese
1334   18    male  33.7         0     no  Southeast     1136            Obese
1335   18    male  33.3         0     no  Southeast     1135            Obese
1336   18    male  30.1         0     no  Southeast     1131            Obese
1337   18    male  23.2         0     no  Southeast     1121          Healthy

[1338 rows x 8 columns]